:root {
    --primary-collor: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-collor);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-collor);
}

form button {
    border: none;
    background: var(--primary-collor);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.container-resposta {
    width: 100%;
    height: 50px;
    background-color: rgb(192, 108, 108);
    display: flex;
    align-items: center;
    padding: 10px;
}

.container-resposta.hidden {
    display: none;
}